{% extends 'base.html' %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-4">Select a Movie</h1>
    <ul class="list-group">
        {% for movie in movies %}
            <li class="list-group-item">
                <a href="{{ url_for('find_movie', id=movie.id) }}">
                    {{ movie.title }} ({{ movie.release_date.split('-')[0] }})
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
